{% extends "base.html" %}

{% block content %}






  <!-- ======= Hero Section ======= -->

  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>Create your instagram bot in seconds!</h1>
            <h2>Want new followers for 8.99$ ?</h2>
            <a href="{{url_for('profile')}}" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="static/img/Daco_5321771.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->





<style >

.center {
    margin-left: 200px;
    margin-right: 200px;
}

.h1 {
font-size: 2.44444rem;
}

.h4 {
    font-weight: 400 !important;
}



#rcorners1 {
  border-radius: 15px;
  background: #ffe6ff;
  padding: 0px;
  width: 30px;
  height: 30px;
}


.custom-shape-divider-top-1615765718 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1615765718 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 72px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1615765718 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1615768158 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1615768158 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615768158 .shape-fill {
    fill: #FFFFFF;
}


</style>






<!-- ======= How Section ======= -->

<div style="position: relative;">

  <!-- Vague 1 : Done with   https://www.shapedivider.app/ -->

  <div class="custom-shape-divider-top-1615765718">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
  </div>


      <section id="how" class="how section-bg">
        <div class="container">

         <div class="section-title" data-aos="fade-right">
            <h1>With ConvertKit, creators like you can:</h1>
          </div>


          <table class="center">

           <tr valign="top">

             <th> <h2 id="rcorners1"> 1 </h2> </th>

             <th>
               <h2>Easily share ideas</h2>
               <h4>As a creator, you're full of exciting ideas. In just minutes you can test those ideas on your
                 audience by creating sign up forms or landing pages. Are they subscribing? Then you've got a winning idea.</h4>
             </th>

             <th>
               <img src="static/img/illustration-landing-page.png" style="width:500px;">

             </th>
           </tr>

           <tr valign="top">

             <th> <h2 id="rcorners1"> 2 </h2> </th>
             <th>
               <h2>Earn an income</h2>
               <h4>Once you know your audience and their needs, sending relevant emails about your products and services to the right people
                 at the right time turns the trust you’ve built into sales.</h4>
             </th>

             <th>
               <img src="static/img/illustration-automation.png" style="width:500px;">

             </th>
           </tr>


         </table>

        </div>


      </section><!-- End Contact Section -->



      <!-- Vague 2 : Done with   https://www.shapedivider.app/ -->


      <div class="custom-shape-divider-bottom-1615768158">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
          </svg>
      </div>



</div>







{% endblock %}
