<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>insta#bot</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i|Domine:400,700&amp;subset=latin-ext" rel="stylesheet">


  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

</head>





<body>


  <!-- ======= Header - NAV BAR======= -->

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo me-auto">
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{url_for('index')}}"><img src="static/img/logo.png" height=30 alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{{url_for('index')}}">Home</a></li>
          {% if current_user.is_authenticated %}
            <li><a class="nav-link scrollto" href="{{url_for('profile')}}">{{ current_user.username }}</a></li>
            <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>
          {% else %}
            <li><a class="nav-link scrollto" href="{{url_for('login')}}">Log In</a></li>
            <li><a class="nav-link scrollto " href="{{url_for('register')}}">Register</a></li>
          {% endif %}

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      </div>

    </div>
  </header>





  <main id="main">


  <!-- ======= Hero Section ======= -->

  <section id="hero">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
          <div>
            <h1>Create your instagram bot in seconds!</h1>
            <h2>Want new followers for 8.99$ ?</h2>
            <a href="{{url_for('profile')}}" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
          <img src="static/img/Daco_5321771.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->





<style >

.center {
    margin-left: 200px;
    margin-right: 200px;
}

.h1 {
font-size: 2.44444rem;
}

.h4 {
    font-weight: 400 !important;
}



#rcorners1 {
  border-radius: 15px;
  background: #ffe6ff;
  padding: 0px;
  width: 30px;
  height: 30px;
}


.custom-shape-divider-top-1615765718 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1615765718 svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 72px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1615765718 .shape-fill {
    fill: #FFFFFF;
}


.custom-shape-divider-bottom-1615768158 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1615768158 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1615768158 .shape-fill {
    fill: #FFFFFF;
}



</style>














<!-- ======= How Section ======= -->

<div style="position: relative;">

  <!-- Vague 1 : Done with   https://www.shapedivider.app/ -->

  <div class="custom-shape-divider-top-1615765718">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
      </svg>
  </div>


      <section id="how" class="how section-bg">
        <div class="container">

         <div class="section-title" data-aos="fade-right">
            <h1>With ConvertKit, creators like you can:</h1>
          </div>


          <table class="center">

           <tr valign="top">

             <th> <h2 id="rcorners1"> 1 </h2> </th>

             <th>
               <h2>Easily share ideas</h2>
               <h4>As a creator, you're full of exciting ideas. In just minutes you can test those ideas on your
                 audience by creating sign up forms or landing pages. Are they subscribing? Then you've got a winning idea.</h4>
             </th>

             <th>
               <img src="static/img/illustration-landing-page.png" style="width:500px;">

             </th>
           </tr>

           <tr valign="top">

             <th> <h2 id="rcorners1"> 2 </h2> </th>
             <th>
               <h2>Earn an income</h2>
               <h4>Once you know your audience and their needs, sending relevant emails about your products and services to the right people
                 at the right time turns the trust you’ve built into sales.</h4>
             </th>

             <th>
               <img src="static/img/illustration-automation.png" style="width:500px;">

             </th>
           </tr>




         </table>


        </div>


      </section><!-- End Contact Section -->



      <!-- Vague 2 : Done with   https://www.shapedivider.app/ -->


      <div class="custom-shape-divider-bottom-1615768158">
          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
              <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
          </svg>
      </div>



</div>




</main><!-- End #main -->






  <!-- ======= Footer ======= -->

  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">


          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h4>Inst@bot Project</h4>
              <p>
               Inst@bot simpe project that i am developping to learn python web framework tool.
               The project start with an ask from my son to automate his instagram account and promote his business.
              </p>

              <div class="social-links mt-3">
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              </div>
            </div>
          </div>



          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>





        </div>
      </div>
    </div>




  </footer><!-- End Footer -->





















<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/vendor/aos/aos.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="static/vendor/php-email-form/validate.js"></script>
<script src="static/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="static/js/main.js"></script>





</body>
</html>
