{% extends "base.html" %}
{% block content %}



  <!-- ======= About Section ======= -->


  <section id="about" class="about">
    <div class="container">

      {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ message }}
           <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}

      <h1>Please login!</h1>
      <br>
      <form method="POST">
        {{form.csrf_token}}
        {{ form.username.label(class_="form-label") }}
        {{ form.username(class_="form-control") }}
        <br>
        {{ form.password.label(class_="form-label") }}
        {{ form.password(class_="form-control") }}
        <br>
        {{form.submit(class_="btn btn-success")}}
      </form>

    </div>

  </section><!-- End About Section -->


{% endblock %}
