{% extends "base.html" %}
{% block content %}


<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}
</style>



<section id="hero" class="hero">
<div class="container">

  {% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}



    {% if cnt_bots == 0 %}

    <h1>Welcome !</h1>


      <h2>Step 1 : Create your first Instagram Ints@bot !</h2>

      <table style="width:700px">

          <tr>

            <td  style="vertical-align:top; text-align:left">

              <img src="static/img/no_bot.png" width="140" alt="">

            </td>


            <td  style="vertical-align:middle; text-align:left">

              <ul>
                <li> You can create many bot as you want. It's free to create</li>
                <li> You're only charged when you start your bot</li>
                <br>
                <a href="{{url_for('addbot')}}" class="btn btn-success">Create Bot</a>

              </ul>

            </td>


            <td  style="vertical-align:top; text-align:left">


            </td>


          </tr>

      </table>





    {% else %}


        <h2>Manage and start your Ints@bots !</h2>

        <div style="overflow-x:auto;">
            <table>
                <tr>
                  <th>#</th>
                  <th>Account</th>
                  <th>Bot Created date</th>
                  <th>Followers</th>
                  <th>Followees</th>
                  <th>Posts</th>

                  <th>Tags</th>
                  <th>Comments</th>
                  <th>Status</th>
                  <th>Action</th>

                </tr>



                {% for bot in bots %}



                <tr>
                    <td style="vertical-align:middle" style="text-align:center" scope="row" >{{bot.id}}</td>
                    <td style="vertical-align:middle" style="text-align:center"> <img src="data:image/jpg;base64,{{ bot.img_data.decode('ascii') }}" width="40"> </td>
                    <td style="vertical-align:middle" style="text-align:center"> {{ bot.created_dt.strftime('%Y/%m/%d') }} </td>
                    <td style="vertical-align:middle" style="text-align:center"> {{bot.followers}} </td>
                    <td style="vertical-align:middle" style="text-align:center"> {{bot.followees}} </td>
                    <td style="vertical-align:middle" style="text-align:center"> {{bot.posts}} </td>
                    <td style="vertical-align:middle" style="text-align:center"> #{{bot.tags}} </td>
                    <td style="vertical-align:middle" style="text-align:center"> {{ emoji.emojize(bot.comments, use_aliases=True) }}  </td>


                    <td style="vertical-align:middle" style="text-align:center">

                      {% if bot.paid == False %}

                        <a href="{{url_for('qjob', id=bot.id )}}">Run</a>

                      {% else %}

                        {{ bot.status }}

                      {% endif %}

                    </td>


                    <td style="vertical-align:middle" style="text-align:center">

                      <a href="{{url_for('delete', id=bot.id )}}">delete</a>

                    </td>
                </tr>


              {% endfor %}

              </table>
            </div>


            <br>
            <br>



    <a href="{{url_for('addbot')}}" class="btn btn-success">Create Bot</a>


    {% endif %}




    <br><br><br><br>












</div>
</section><!-- End About Section -->


{% endblock %}
